<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lower Priority
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120130
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Lowerpriority by TEMPLATED</title>
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Lower Priority</a></h1>
		</div>
		<div id="search">
			<form action="" method="post">
				<div>
					<input class="form-text" name="search" size="32" maxlength="64" /><input class="form-submit" type="submit" value="Search" />
				</div>
			</form>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Links</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
			<br class="clearfix" />
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div class="post">
				<h2>Welcome to Lower Priority</h2>
				<p>
					This is <strong>Lower Priority</strong>, a free, standards-compliant CSS template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
				</p>
			</div>
			<div class="post">
				<h3>Sollicitudin luctus tristique lacus volutpat</h3>
				<p>
					Nullam erat aliquam mattis curabitur. Euismod dolor ornare laoreet rutrum commodo integer venenatis. Parturient luctus tortor massa. Ultrices sed aliquet sociis. Volutpat luctus felis fringilla primis urna nisi. Laoreet purus nisi pretium ut eget cras. Fermentum metus placerat fusce curae cum egestas.
				</p>
				<ul class="list">
					<li class="first"><a href="#">Gravida et libero integer congue ante neque</a></li>
					<li><a href="#">Lacus venenatis suspendisse mus placerat dictum ante</a></li>
					<li><a href="#">Praesent eu eu euismod aliquet praesent aenean</a></li>
					<li><a href="#">Duis massa purus nibh convallis augue suspendisse</a></li>
					<li class="last"><a href="#">Luctus venenatis nullam sodales montes morbi</a></li>
				</ul>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<h3>Porta suscipit</h3>
			<ul class="list">
				<li class="first"><a href="#">Nibh porta et hendrerit</a></li>
				<li><a href="#">Auctor egestas odio viverra</a></li>
				<li><a href="#">Dignissim est eget lorem</a></li>
				<li><a href="#">Nascetur cras suspendisse</a></li>
				<li><a href="#">Pharetra lacus nunc suscipit</a></li>
				<li class="last"><a href="#">Volutpat amet interdum</a></li>
			</ul>
			<h3>Nunc aliquam</h3>
			<p>
				Iaculis mauris gravida et suscipit congue praesent. Pulvinar porta dui ullamcorper. Integer tincidunt viverra metus purus sed viverra aenean justo ipsum tempus.
			</p>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.
</div>
</body>
</html>