<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undisclosed
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120130
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Undisclosed by TEMPLATED</title>
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Undisclosed</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Portfolio</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div id="post1">
				<h2>Welcome to Undisclosed</h2>
				<img class="alignleft border" src="images/pic1.jpg" width="200" height="220" alt="" />
				<p>
					This is <strong>Undisclosed</strong>, a free, fully standards-compliant CSS template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The picture in this template is from <a href="http://pdphoto.org">PDPhoto.org</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so youre pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
				</p>
			</div>
			<div id="post2">
				<h3>Sollicitudin consequat sem diam</h3>
				<p>
					Fusce tellus imperdiet neque. Lobortis duis etiam sit suscipit. Mattis nulla cursus nec at morbi urna luctus. Odio dolor sodales tortor scelerisque ridiculus sodales. Aliquet vel accumsan in sem integer velit accumsan. Cursus facilisis pellentesque ac curae cum nunc fermentum.
				</p>
				<ul class="list">
					<li class="first"><a href="#">Suspendisse parturient curabitur metus est hendrerit gravida curae</a></li>
					<li><a href="#">Consectetur vulputate vivamus curae vel volutpat</a></li>
					<li><a href="#">Rhoncus in malesuada risus dui parturient auctor</a></li>
					<li><a href="#">Penatibus eget a etiam mus proin vestibulum justo</a></li>
					<li class="last"><a href="#">Consequat ultrices orci luctus enim sapien nullam</a></li>
				</ul>
			</div>
			<div id="post3">
				<h3>Mattis montes curabitur lacus phasellus</h3>
				<p>
					Nisl molestie quam nibh ante mattis venenatis. Cursus dignissim gravida adipiscing sollicitudin neque. Consequat consequat quis blandit. Consectetur donec leo quis pharetra porttitor. Etiam ante fringilla tempor nibh lobortis. Natoque lacinia diam sodales nec iaculis dictum. Donec quis nullam fermentum tempor lacinia.
				</p>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<h3>Quisque euismod</h3>
			<ul class="list">
				<li class="first"><a href="#">Vulputate lacus leo turpis</a></li>
				<li><a href="#">Nisl nascetur ornare vitae</a></li>
				<li><a href="#">Rutrum elit ac facilisis</a></li>
				<li><a href="#">Libero fusce lectus</a></li>
				<li class="last"><a href="#">Elementum rutrum orci</a></li>
			</ul>
			<h3>Phasellus elit</h3>
			<p>
				Pharetra parturient venenatis eleifend pretium. Tempus faucibus lacus mi et imperdiet tincidunt amet. Tortor amet suspendisse ultrices a facilisis enim mattis.
			</p>
			<ul class="list">
				<li class="first"><a href="#">Fermentum auctor cubilia</a></li>
				<li><a href="#">Purus rutrum vestibulum</a></li>
				<li><a href="#">Libero fusce lectus dolor</a></li>
				<li><a href="#">Rutrum elit ac facilisis</a></li>
				<li class="last"><a href="#">Fringilla sollicitudin sagittis</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; Undisclosed. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.
</div>
</body>
</html>